{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ .Content }}
        <div class="call">
          <div class="call-box-top">
            <div class="call-phone"><a href="https://github.com/moclojer" target="_blank">GitHub Organization</a></div>
            <div class="call-email"><a href="https://opencollective.com/moclojer" target="_blank">Support Us</a></div>
          </div>
        </div>
      </div>
      {{ if .Params.intro_image }}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt={{ .Title }}
          class="intro-image{{ if .Params.intro_image_absolute }} intro-image-absolute{{ end }}{{ if .Params.intro_image_hide_on_mobile }} intro-image-hide-mobile{{ end }}"
          src="{{ .Params.intro_image | relURL }}" />
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ $projects := where (where .Site.RegularPages "Type" "projects") ".Params.featured" true }}
{{if gt (len $projects) 0}}
<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="title-3 text-center mb-3">Featured Projects</h2>
      </div>
    </div>
    <div class="row justify-content-start">
      {{ range first 6 (sort $projects ".Params.weight") }}
      <div class="col-12 col-md-4 mb-1">
        {{ .Render "summary" }}
      </div>
      {{ end }}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ " projects/" | relURL }}">View All Projects</a>
      </div>
    </div>
  </div>
</div>
{{end}}

{{ $features := where (where .Site.RegularPages "Type" "features") ".Params.featured" true }}
{{if gt (len $features) 0}}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="title-3 text-center mb-3">Key Features</h2>
      </div>
    </div>
    <div class="row justify-content-start">
      {{ range first 6 (sort $features ".Params.weight") }}
      <div class="col-12 col-md-4 mb-1">
        {{ .Render "summary" }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{end}}

{{ end }}

{{ define "footer_js" }}
{{ end }}