<div class="call">
    <div class="call-box-top">
        <div class="call-box-bottom">
            <a href="https://github.com/avelino/moclojer/releases/latest" target="_blank" class="button">Download</a>
            <a href="https://github.com/avelino/moclojer" target="_blank">
                <img src="/images/social/github.svg" width=45 title="Github" alt="Github">
            </a>
            <a href="https://www.producthunt.com/posts/moclojer?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-moclojer" target="_blank">
                <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=449961&theme=neutral" alt="moclojer - &#0032;Simple&#0032;and&#0032;efficient&#0032;HTTP&#0032;mock&#0032;server&#0032;with&#0032;easy&#0032;spec | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" />
            </a>
        </div>
    </div>
</div>
