a {
  color: $primary;
  text-decoration: none;
  transition: all 0.2s ease;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}
p {
  font-family: $font-family-paragraph;
  line-height: 1.7;
  margin-bottom: 1.8em;
  margin-top: 0;
  max-width: 800px;
  font-weight: 300;
  color: $grey;
}
h1 {
  font-size: 24px;
  font-family: $font-family-heading;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 20px;
  max-width: 800px;
  @include media-breakpoint-up(md) {
    font-size: 32px;
    line-height: 1.4;
  }
}
h2 {
  font-size: 20px;
  font-family: $font-family-heading;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 800px;
  @include media-breakpoint-up(md) {
    font-size: 26px;
    line-height: 1.4;
  }
}
h3 {
  font-size: 16px;
  font-family: $font-family-heading;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 25px;
  margin-bottom: 15px;
  @include media-breakpoint-up(md) {
    font-size: 20px;
    line-height: 1.4;
  }
}
ul,
ol {
  margin-left: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  li {
    padding: 0;
    margin: 0 0 10px 0;
    line-height: 1.7;
    font-family: $font-family-paragraph;
    font-weight: 300;
  }
}

pre {
  padding: 20px;
  border-radius: 5px;
  overflow-x: auto;
  margin-bottom: 30px;
}

blockquote {
  padding: 0 1em;
  border-left: 4px solid $primary;
  margin: 2em 0;

  p {
    font-family: $font-family-paragraph;
    font-style: italic;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.6;
  }

  cite {
    display: block;
    margin-top: 1em;
    text-align: right;
    font-size: 0.9em;
    font-family: $font-family-base;
    font-style: normal;
  }
}
